*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #e7e6e6;
}

html{
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url("img/Design1.png");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.container{
    padding: 10px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #707070;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #141414;
}

nav img{
    cursor: pointer;
    width: 90px;
    height: auto;
    margin-left: 100px;
    transition: background 0.5s;
}

nav img:hover{
    transform: scale(1.1)
}

nav ul{
    margin-right: 110px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #707070;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #731010;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 70px;
    margin-top: 10px;
    margin-left: 300px;
    color: #707070;
}

.header-text h1 span{
    color: #731010;
}

.header-text p{
    color: #707070;
    margin-top: 10px;
    margin-left: 308px;
    font-size: 25px;
}

.header-text p span{
    color: #d4d4d4;
}

.btn-header{
    margin-top: 10px;
    margin-left: 308px;
}

.btn{
    display: block;
    margin: 10px 0 0;
    width: fit-content;
    border: 3px solid #707070;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: #d3d3d3;
    transition: background 0.5s;
    font-size: 14px;
}

.btn:hover{
    background: #262626;
    color: #aa1919;
}

.btn.btn2{
    display: inline-block;
}

/* -------- about ---------- */

#about{
    padding: 80px 0;
    color: #b1b0b0;
    /* background-image: url("img/AboutBG.png"); */
}

img{
    width: 40%;
    height: auto;
    margin-left: 30%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutContainer{
    margin-right: 40px;
}

.aboutContainer p{
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
}

.about-col-1{
    flex-basis: 35%;
    margin-top: 100px;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 50%;
    margin-top: 25px;
}

.about-col-2 p{
    margin-top: 20px;
}

.about-col-2 p span{
    color: #b1b0b0;
    font-weight: 800;
}

.sub-title-about{
    font-size: 60px;
    font-weight: 600;
    color: #707070;
    margin-top: 65px;
}

.sub-title-about span{
    color: #731010;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #660000;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 80%;
}

.tab-contents i{
    color: #b5b5b5;
    font-size: 80px;
    margin-bottom: 10px;
    margin-right: 40px;
    display: inline-block;
}

.tab-contents img{
    width: 80px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}

.tab-contents .skills-name p{
    display: inline-block;
    margin-right: 45px;
}

.tab-contents{
    display: none;
}

.tab-contents h2 span{
    margin-left: 300px;
    font-size: 17px;
    vertical-align: middle;
}

.tab-contents h4{
    font-style: italic;
    margin-bottom: 5px;
}

.tab-contents ul{
    margin-bottom: 50px;
}

.tab-contents ul li{
    margin-left: 15px;
}

.tab-contents ul li span{
    font-weight: 1000;
}

.tab-contents.active-tab{
    display: block;
}

/* -------- projects ---------- */

#projects{
    padding: 40px 0;
}

.sub-title-project{
    font-size: 60px;
    font-weight: 600;
    color: #707070;
    margin-left: 10%;
    margin-top: 65px;
}

.sub-title-project span{
    color: #731010;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin: 50px 10%;
}

.project-list div{
    background: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    
}

.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-list div h2{
    font-size: 23px;
    font-weight: 500;
}

.project-list div h3{
    font-weight: 500;
    margin-bottom: 14px;
    font-style: italic;
}

.project-list div p{
    text-align: justify;
    text-justify: auto;
}

.project-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
    
}

.project-list div a i{
    font-size: 18px;
    color: #262626;
    text-decoration: none;
    line-height: 43px;
    background: #838383;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background 0.5s, transform 0.5s;
}

.project-list div a i:hover{
    background: #731010;
    color: #000;
    transform: translateY(-10px);
}

.project-list img{
    width: 100%;
    border-radius: 10px;
    float: right;
    margin-bottom: 20px;
}

/* -------- project details ---------- */

.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 500px;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #0563bb;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0563bb;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

/*
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 50%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #b8b8b8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #262626;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

*/

/* -------- contacts ---------- */

#contacts{
    padding: 40px 0;
}

.contact-list p{
    margin-top: 30px;
    text-align: center;
    
}

.contact-list p i{
    color: #731010;
    margin-right: 8px;
    font-size: 30px;
    vertical-align: middle;
}

.contact-list i{
    font-size: 30px;
}

.contact-list h3{
    color: #707070;
}

.contact-list .sub-title-contact span{
    color: #731010;
}

.sub-title-contact{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: #707070;
}

.social-icons{
    margin-top: 30px;
    text-align: center;
}

.social-icons a{
    text-decoration: none;
    font-size: 10px;
    margin-right: 8px;
    color: #262626;
    display: inline-block;
}

.social-icons a:hover{
    color: #731010;
    transform: translateY(-5px);
}

/* -------- copyright ---------- */

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
    margin-top: 30px;
    color: #b5b5b5;
}

